# -*- mode: gitignore; -*-

# editors' temp files
*~
\#*\#
.\#*

# build files
/build/
/out/
/buck-out/

# sources
/projects/*/sources

# Vagrant files
.vagrant/
ubuntu-bionic-18.04-cloudimg-console.log

# pyre
.pyre/

# legacy root-level packaged sysroots (new archives are under /out/)
/bpftools-*.tar.gz

.flake8
