# -*- mode: gitignore; -*-

# editors' temp files
*~
\#*\#
.\#*

# build files
/build/
/out/
/buck-out/

# sources
/projects/*/sources

# Vagrant files
.vagrant/
ubuntu-bionic-18.04-cloudimg-console.log

# pyre
.pyre/

# packaged sysroots
/bpftools-*.tar.gz

.flake8
